@import "unsemantic-grid-responsive.css"

// Typography //

body
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 1.5
  color: #222

h1, h2
  font-weight: normal

.title
  font-size: 1.2em

// Layout //

table
  width: 100%

.title, .description
  margin-top: 0

.date
  margin-top: 0
  margin-bottom: 0

.job
  ul
    padding: 0
  li
    list-style: none
    padding-bottom: 1em
